@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&family=Nunito:wght@400;600;700&display=swap');
body {
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}
.top-info-column {
    position: relative;
    top:4px;
}
.logo {
    width:60px;
    height:70px;
}
.left {
    display:none
}
select.selectpicker {
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline:none !important;
}
ul {
    padding:0;
    margin:0;
}
li {
    list-style: none;
}
a {
    text-decoration: none !important;
}

$primary-color1: #fff;
$primary-color2: #070212;
$primary-color3:#ff5a3c;
$primary-color4: #071c1f;
$primary-font: "Poppins', sans-serif";
$secondary-font: "'Nunito Sans', sans-serif";
.fixed-top {
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-timing-function: ease;
    transition: 0.3s all ease-in-out;
    border-radius: 5px;
    background: #06101c;
}
h1,h2,h3,h4,h5,h6 {
    // font-family: $primary-font;
    font-weight: 700;
    color:$primary-color4;
}
.active>.nav-link {
    color: $primary-color3 !important;
}
p {
    color:#071c1f;
    // font-family: $secondary-font;
    font-size: 16px;
    font-weight: 400;
}
.default {
    padding: 10px 20px;
    background:$primary-color3;
    border:1px solid $primary-color3;
}
.default-one {
    padding: 17px 40px;
    background: $primary-color3;
    border:1px solid $primary-color3;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    font-weight: 400;
    font-family: $secondary-font;
    color:$primary-color1;
    &:hover {
        background:transparent;
        border:1px solid $primary-color4;
        color:$primary-color4;
    }
}
option {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
.aaa {
    position: fixed;
    bottom: 90px;
    right: 34px;
    display: none;
    z-index: 99999;
    animation: abc 2s;
    transform: rotate(
        45deg
        );
}
.back2 {
    display: none;
    i {
        width: 40px;
        height: 40px;
        background: #070212;
        color: #fff;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        border-radius: 10px;
    }
}
//*nav*/
.header-top-area {
    padding: 10px 0px;
    background: $primary-color1;
    ul {
        li {
            display:inline-block;
            a {
                font-family: $secondary-font;
                font-size:16px;
                font-weight: 700;
                color:$primary-color4;
                transition:.4s;
                &:hover {
                    color: $primary-color3;
                }
            }
        }
    }
    .top-info-column {
        ul {
            li {
                margin-right: 60px;
                i {
                    margin-right: 10px;
                }
            }
        }
    }
}
.navbar-light .navbar-nav .nav-link {
    color:$primary-color4;
}
.top-social-icon-column {
    text-align: right;
    ul {
        li {
            margin-right: 15px;
        }
    }
}
.custom-nav {
    padding:15px;
    background: $primary-color4;
        li {
            margin-right: 5px;
            .nav-link{
                font-weight: 600;
                font-size: 18px;
                transition:.4s;
                color:$primary-color1 !important;
                &:hover {
                    color:$primary-color3 !important;
                }
            }
        }
    .user-menu {
        margin-left: 20px;
    }
    .option-item {
        color: #696687;
        display: inline-block;
        line-height: 1;
        position: relative;
        top: 0;
        .search-btn {
            cursor: pointer;
            -webkit-transition: all ease .5s;
            transition: all ease .5s;
            color: #30296c;
            text-align: center;
            font-size: 20px;
            display: inline-block;
        }
        .close-btn {
            cursor: pointer;
            -webkit-transition: all ease .5s;
            transition: all ease .5s;
            color: $primary-color3;
            text-align: center;
            display: none;
            font-size: 20px;
        }
        .search-popup {
            position: absolute;
            top: 100%;
            width: 300px;
            right: 0;
            background: #fff;
            z-index: 2;
            padding: 20px;
            margin-top: 18px;
            .search-form {
                position: relative;
                .search-input {
                    display: block;
                    width: 100%;
                    height: 50px;
                    line-height: initial;
                    border: 1px solid #eee;
                    color: #30296c;
                    outline: 0;
                    -webkit-transition: all ease .5s;
                    transition: all ease .5s;
                    font-size: 15px;
                    padding-top: 4px;
                    padding-left: 15px;
                }
                .search-button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 50px;
                    background: $primary-color3;
                    border: none;
                    width: 50px;
                    outline: 0;
                    color: #fff;
                    -webkit-transition: all ease .5s;
                    transition: all ease .5s;
                    padding: 0;
                }
            }
        }
    }
}
.option-item .close-btn.active {
    display: block;
    color: #f68820;
}
.user-menu {
    i {
        color:$primary-color4;
        font-size: 20px;
        font-weight: 600;
        transition:.4s;
        &:hover {
            color:$primary-color3;
        }
    }
}
.mini-cart-icon {
    a {
        i {
            color:$primary-color4;
            font-size: 20px;
            font-weight: 600;
            transition:.4s;
            &:hover {
                color:$primary-color3;
            }
        }
        sup {
            font-weight: 600;
            font-size: 18px;
            color:$primary-color4;
        }
    }
}
.slider {
    padding:100px 0px 0px 0px;
    position:relative;
    z-index: 1;
    .bg {
        background:#ffffffd1;
        padding:20px;
        // border-radius: 8px;
        position: absolute;
        top:0;
        left: 0;
        width:50%;
        height:100%;
        z-index: -1;
    }
    .owl-slide {
        position:relative;
        z-index: 1;
        &::before {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            content:"";
            background:#000;
            opacity:0.2;
            z-index: -1;
        }
    }
    .owl-dots {
        display:none;
    }
    .owl-nav {
        display: none;
    }
    .owl-slide-text  {
            margin-top:150px;
            margin-bottom: 120px;
            .btn-wrapper {
                margin-top:40px;
                .ltn__video-play-btn {
                    background: $primary-color1 !important;
                    border:1px solid $primary-color1;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 100%;
                    margin-left: 20px;
                    transition: .4s;
                    &:hover {
                        background:$primary-color4;
                        border: 1px solid $primary-color4;
                        i {
                            color:$primary-color4;
                        }
                    }
                    i {
                        color: $primary-color3;
                    }
                } 
            }
            .title {
                p{
                    font-weight: 600;
                    color: $primary-color4;
                    i {
                        margin-right: 10px;
                        color: $primary-color3;
                    }
                }
            }
            .heading {
                p {
                    color: $primary-color4;
                    font-size: 18px;
                    max-width: 90%;
                    margin-top: 20px;
                }
            }
            h1 {
                font-size: 55px;
                color: $primary-color4;
            }
        }
    
    .slide-wrap {
        .static {
            position: static;
          }
          .cover {
            background-size: cover;
            background-position: 100% 100%;
            background-repeat: no-repeat;
          }
    }
}
.select-area {
    padding:100px 0px 0px 0px;
    background: #f2f6f7;
    overflow: hidden;
    .btn-wrapper {
        margin-top:40px;
    }
    .car-price-filter-range .price_filter .ui-widget-content {
        height: 8px;
        background-color: #e0e0e0;;
        margin-top: 20px;
        border:1px solid #e0e0e0;;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .ui{
        position:relative;
        &::after {
            position: absolute;
            content: "";
            top: -30px;
            left: -5px;
            background-image: url("../image/car.png");
            z-index: 99;
            width: 125px;
            height: 50px;
            background-repeat: no-repeat;
        }
    }
    .price_filter {
        padding-bottom: 13px;
        .price_slider_amount {
            overflow: hidden;
            input {
                font-weight: 700;
                background: transparent none repeat scroll 0 0;
                border: medium none;
                -webkit-box-shadow: none;
                box-shadow: none;
                float: left;
                padding: 0;
                text-align: left;
                width: 140px;
                margin-bottom: 20px;
                cursor: pointer;
                border: transparent;
                font-size: 16px;
                color:#5c727d;
                border-radius: 0;
            }
        }
    }
    .price_filter .ui-widget-content {
        background-color:$primary-color3;
        border: medium none;
        color: #222;
        height: 3px;
        width: 98%;
        background-image: none;
    }
    .price_filter .ui-state-default, .price_filter .ui-widget-content .ui-state-default, .price_filter .ui-widget-header .ui-state-default {
        background-color:$primary-color3;
        border: medium none;
        border-radius: 100%;
        height: 12px;
        margin-left: 0;
        margin-top: -6px;
        top: 50%;
        width: 12px;
        background-image: none;
    }
    .price_filter .ui-slider .ui-slider-range {
        background-color:$primary-color3;
        background-image: none;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: $primary-color1;
        background: $primary-color3;
        border: 1px solid $primary-color3;
    }
    .nav-tabs {
        border-bottom: none;
        .nav-link {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding: 17px 40px;
            background:#f2f6f7;
            border:1px solid $primary-color4;
            text-align: center;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            font-size: 16px;
            font-weight: 400;
            font-family: $secondary-font;
            color:$primary-color4;
            margin-right: 20px;
            &:hover {
                background:transparent;
                border:1px solid $primary-color4;
                color:$primary-color4;
            }
        }
    }
    .tab-content-one {
        margin-top:50px;
        background:$primary-color1;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding-top:50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        select {
            margin-bottom:20px;
            border-radius: 0;
            height: 60px;
            line-height: 45px;
        }
        input {
            border-radius: 0;
            height: 60px;
            line-height: 45px;
        }
        .form-control:focus {
            box-shadow: none;
        }
    }
}
.blog-wrapper-area {
    padding:100px 0px 100px 0px;
    background: #f2f6f7;
    .image {
        img {
            border-radius: 8px;
        }
    }
    .area {
        background:$primary-color1;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding:20px;
        transition:.4s;
        &:hover {
            box-shadow:none;
            .rent {
                p {
                    color:$primary-color3;
                }
                .amount {
                    color:$primary-color3;
                }
            }
        }
        .content {
            text-align: center;
            h4 {
                font-size: 20px;
                margin-bottom: 15px;
            }
        }
        .one {
            position:relative;
            z-index: 1;
            padding-top:10px;
            &::before {
                position:absolute;
                top:0;
                left: -20px;
                width: 260px;
                height: 69px !important;
                content:"";
                background: $primary-color4 !important;
                z-index: -1;
            }
            p {
                color:$primary-color1;
                position:relative;
                top:12px;
                transition:.4s;
            }
            .amount {
                color:$primary-color1;
                top:12px;
                transition:.4s;
            }
        }
        .rent {
            display:flex;
            .amount {
                position: relative;
                left: 114px;
            }
        }
    }
}
.footer {
    padding:100px 0px 0px 0px;
    background:#070212;
    .site-logo {
        img {
            height: 75px;
            width:75px;
        }
    }
    p{
        color:$primary-color1;
        margin-top:20px;
        margin-bottom:20px;
    }
    .ltn__social-media {
        ul {
            li {
                display: inline-block;
                a {
                    color:$primary-color1;
                    margin-right: 20px;
                    font-size: 20px;
                    transition:.4s;
                    &:hover {
                        color:$primary-color3
                    }
                }
            }
        }
    }
    .footer-widget {
        h4 {
            font-size: 24px;
            color:$primary-color1;
            margin-bottom:20px;
        }
    }
    .footer-menu {
        li {
            a {
                color:$primary-color1;
                font-size: 18px;
                font-weight: 400;
                transition:.4s;
                line-height: 1.7;
                &:hover {
                    color:$primary-color3
                }
            }
        }
    }
    .footer-newsletter {
        form {
            position: relative;
            input {
                background-color: $primary-color1;
                border: 2px solid;
                border-color: #ebebeb;
                height: 65px;
                -webkit-box-shadow: none;
                box-shadow: none;
                padding-left: 20px;
                font-size: 16px;
                color: #5c727d;
                width: 100%;
                border-radius: 0;
                margin: 0;
                padding-right: 50px;
                outline:none !important;
            }
            .btn-wrapper {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                height: 100%;
                display:block;
                .btn {
                    padding: 0 18px;
                    height: 100%;
                }
            }
        }
    }
    .btn:last-child {
        margin-right: 0;
    }
    .theme-btn-1 {
        background-color: #fcfcfc;
        color: $primary-color3;
    }
    .accept {
        margin-top:20px;
        margin-bottom:20px;
        color:$primary-color1;
        font-size: 25px;
    }
    .ltn__copyright-area {
        padding-top: 0px;
        padding-bottom: 25px;
        background:#282b38;
        margin-top:70px;
        .menu {
            position: relative;
            top: 20px;
        }
        .ltn__copyright-menu {
            text-align: right;
            ul {
                li {
                    display: inline-block;
                    margin-top: 0;
                    margin-right: 20px;
                    font-size: 18px;
                    font-weight: 600;
                    font-family: $secondary-font;
                    a {
                        color: $primary-color1;
                    }
                }
            }
        }
    }
}
.contact-banner-area {
    padding:100px 0px 100px 0px;
    background:#070212;
    .banner-wrap {
        margin-top:100px;
        text-align: center;
    }
    h1 {
        color:$primary-color1;
    }
    ul {
        li {
            display: inline-block;
            a {
                color:$primary-color1;
                font-family: $secondary-font;
                font-size: 16px;
                font-weight: 500;
            }
            i {
                color:$primary-color3
            }
        }
    }
}
.ltn__contact-address-area {
    padding:100px 0px 50px 0px;
    text-align: center;
    h3 {
        margin-bottom: 20px;
        margin-top:20px;
        font-size: 20px;
    }
    .ltn__contact-address-item-3 {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 2px solid #ededed;
        padding: 50px 30px 25px;
    }
}
.ltn__contact-message-area {
    padding:100px 0px 50px 0px;
}